/******************************************
*  Author : quantumRaven23   
*  Created On : Mon Feb 01 2021
*  File : custom-styles.styles.scss
*******************************************/

$main-color: #34444C;
$sub-color:#f1f6f8;

.custom-button-light {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: $sub-color;
    color: $main-color;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    
  
    &:hover {
        background-color: $main-color;
        color: $sub-color;
        border: 1px solid $sub-color ;
    }

    &:active{
        background-color: $sub-color;
        color: black;
        border: 1px solid black ;
        outline: none;
    }
  
}

.custom-button-dark {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: $main-color;
    color: $sub-color;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    margin:10px;
  
    &:hover {
        background-color: $sub-color;
        color: $main-color;
        border: 1px solid $main-color;
    }

    &:focus{
        background-color: $sub-color;
        color: $main-color;
        border: 1px solid black ;
        outline: none;
    }
  
}