/******************************************
*  Author : quantumRaven23   
*  Created On : Mon Feb 01 2021
*  File : text-input.styles.scss
*******************************************/
$main-color: #34444C;
$sub-color:#f1f6f8;

.text-input-group{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;

    .text-input-label{
        font-size: 16px;
        font-weight: normal;
        position: relative;
        pointer-events: none;
        left: 5px;
        color:$sub-color;
    }
    
    .text-input{
        width:80%;
        height:300px;
        margin: 10px 0;
        border:none;
        border-radius: 5px;
        resize: none;
        
        &:focus{
            outline: none;
        }
    }
}