/******************************************
*  Author : quantumRaven23   
*  Created On : Sun Mar 14 2021
*  File : fadeText.styles.scss
*******************************************/

.fade-element{
    position: absolute;
    height: 400px;
    width: 100%;
    border: solid pink;
}
.nofade{
    position: absolute;
    font-size: 100px;
    
    border: solid blue;
    color:#fff;
    font-family:'Merriweather', serif;
}
.fade{
    list-style-type: none;
    color: #fff;
    font-family:'Merriweather', serif;
    h3{
        position: absolute;
        font-size: 100px;
        left:50%;
        opacity: 0;
        -webkit-animation: titleAnimation 5s linear infinite 0s;
        -moz-animation: titleAnimation 5s linear infinite 0s;
        -o-animation: titleAnimation 5s linear infinite 0s;
        -ms-animation: titleAnimation 5s linear infinite 0s;
        animation: titleAnimation 4s linear infinite 0s;
    }

    li{
        &:nth-child(1) h3{
            animation: none;
            opacity: 1;
            transform:translateX(-500px)
        }
        &:nth-child(3) h3{
            -webkit-animation-delay: 6s;
            -moz-animation-delay: 6s;
            -o-animation-delay: 5s;
            -ms-animation-delay: 5s;
            animation-delay: 1s;
            
        }

        &:nth-child(4) h3{
            // -webkit-animation-delay: 10s;
            // -moz-animation-delay: 10s;
            // -o-animation-delay: 10s;
            // -ms-animation-delay: 10s;
            animation-delay: 2s; 
        }

        &:nth-child(5) h3{
            // -webkit-animation-delay: 15s;
            // -moz-animation-delay: 15s;
            // -o-animation-delay: 15s;
            // -ms-animation-delay: 15s;
            animation-delay: 3s; 
        }
    }
}

@-webkit-keyframes titleAnimation { 
    0% { opacity: 1 }
    1% { opacity: 0 }
    10% { opacity: 0 }
    100% {opacity: 0}
}
@-moz-keyframes titleAnimation { 
    0% { opacity: 0 }
    10% { opacity: 1 }
    20% { opacity: 1 }
    30% { opacity: 0 }
    40% {opacity: 0}
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% { opacity: 0 }
    10% { opacity: 1 }
    20% { opacity: 1 }
    30% { opacity: 0 }
    40% {opacity: 0}
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% { opacity: 0 }
    10% { opacity: 1 }
    20% { opacity: 1 }
    30% { opacity: 0 }
    40% {opacity: 0}
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% {opacity: 0}
    10% {opacity: 1}
    20% { opacity: 0 }
}