/******************************************
*  Author : quantumRaven23   
*  Created On : Sat Jan 30 2021
*  File : email-form.styles.scss
*******************************************/

.email-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 900px;
    h2{
        margin:0;
    }
    
    
    form{
        margin-left: auto;
        margin-right: auto;
        margin-top: 45px;
        width:70%;
    }

    .button-container{
        width:80%;
        display: flex;
        justify-content: flex-end;
    }

}

.email-form-mobile{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 900px;
    
    .form-input-label{
        font-size: 25px;
    }
    
    .form-input{
        width:80%
    }
    
    form{
        margin: 15px 0 30px 60px;
        width:700px;
    }

    .button-container{
        width:80%;
        display: flex;
        justify-content: flex-start;
    }

}