a{
  text-decoration: none;
  color:black;
}

*{
  box-sizing: border-box;
}

body{
  min-width: 700px;
  font-family: 'Cabin', sans-serif;
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.parallax {
  min-height: 600px; 

  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 20s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image:url('./Assets/Background/black-grey-white-natural-marble-stone-background-PKUBYF4.jpg');

  overflow: hidden;
  
}
@keyframes slideBg{
  0%{
    background-image: url('./Assets/Background/black-grey-white-natural-marble-stone-background-PKUBYF4.jpg');
  }

  25%{
    background-image: url('./Assets/Background/smooth-surface-texture-line-overlap-of-marble-WPQM7CF.jpg');
  }

  50%{
    background-image: url('./Assets/Background/smooth-surface-texture-of-marble-stone-T3E9BZ2.jpg');
  }

  75%{
    background-image: url('./Assets/Background/smooth-surface-texture-of-white-and-black-marble-KSYW8LL.jpg');
  }

  100%{
    background-image: url('./Assets/Background/black-grey-white-natural-marble-stone-background-PKUBYF4.jpg');
  }
}